html, body
{
    height: 100%; 
    margin: 0;
}

body
{
    background-color: burlywood;
}

.header
{
    color: white;
    font-family: 'Yeon';
    font-size: 45px;
    margin-top: 80px;
}

.header img
{
    width: 80px;
    margin-left: 15px;
}

.login_div
{
    background: rgba(255,255,255,0.8); 
    float: none;
    border-radius: 15px;
    padding-top: 10px;
}

#login_button
{
    width: 80%; 
    border-radius: 15px;
}